html, body {
  background-image: url('/images/background.png');

  height: 100%;
  width: 100%;

  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Extra small devices (phones, less than 768px) */
.card, .deck {
  width: 65px;
  height: 115px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (min-height: 580px) { 
  .card, .deck {
    width: 80px;
    height: 142px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (min-height: 700px) {
  .card, .deck {
    width: 100px;
    height: 178px;
  }
}

.deck {
  position: absolute;
  top: 0;
  right: 0;

  margin-top: 20px;
  margin-right: 45px;
  
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.deck .card {
  position: absolute;
}

.deck .card.briscola {
  right: 75%;
  z-index: -1;
  
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.deck .card:nth-child(1) {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.deck .card:nth-child(2) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

.deck .background {
  z-index: -2;
}

.deck.empty .card {
  visibility: hidden;
}

.deck.empty .background {
  visibility: visible;
}

.player-hand {
  position: absolute;

  text-align: center;

  margin: 15px;
}

.player-top, .player-bottom {
  left: 0;
  right: 0;
}

.player-top {
  top: 0;
}

.player-bottom {
  bottom: 0;
}

.player-left {
  left: 0;

  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}

.player-right {
  right: 0;

  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;;
}

.thrown-cards {
  position: absolute;

  left: 0;
  right: 0;

  text-align: center;
}

.player-hand h3 {
  margin: 15px 0;
}

.label-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.player-bottom.current-player .card {
  cursor: pointer;
}

.player-bottom.current-player .card:active {
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  filter: brightness(0.6);
}

.current-player .player-name:before {
  color: white;
  content: "• ";
}

.hidden {
  display: initial !important;
}

.thrown-cards.turn-finished .card {
  -webkit-filter: brightness(0.7);
  -moz-filter: brightness(0.7);
  -ms-filter: brightness(0.7);
  filter: brightness(0.7);
}

.thrown-cards.turn-finished .card.highlight {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}

#modal-end-turn .match-results-message {
  text-align: center;
}